<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414404391933-kvp9cfasn2kuklmgrdtiuqqqdnekprga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414404391933-kvp9cfasn2kuklmgrdtiuqqqdnekprga</string>
	<key>API_KEY</key>
	<string>AIzaSyCpXu1nWfxQrhGAxyzFkENYu5BjUBu-4cI</string>
	<key>GCM_SENDER_ID</key>
	<string>414404391933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myth.appcolt</string>
	<key>PROJECT_ID</key>
	<string>app-colt</string>
	<key>STORAGE_BUCKET</key>
	<string>app-colt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414404391933:ios:d5291a8be743fc40fddf94</string>
	<key>DATABASE_URL</key>
	<string>https://app-colt.firebaseio.com</string>
</dict>
</plist>